<section class="posts">
  <%posts.each do |post| %>
    <section class="single_post">
      <h2><%=post['title']%></h2>
      <div class="posted_by"><img class="profile_image" src=<%=image_src(post["user_id"])%> alt="profile picture"> <h3><%=post['user_name']%></h3> </div>
      <div class="post-text"><%=post['main_text']%></div>
      <% if is_logged_in?%>
        <%if session["user_id"] == post["user_id"]%>
          <div class="post-delete">
            <form action="/<%=post["id"]%>" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <input id="input_button" type="submit" value="Delete" />
            </form>
          </div>
        <%end%>
        <% if not_passed_time?(post["time_stamp"])%>
        <div class="replies">
          <form action="/reply/<%=post["id"]%>" method="POST">
            <textarea class="text_area" type="text" name="reply" placeholder="What's your decision?"></textarea>
            <input id="input_button" type="submit" value="reply" />
          </form>
        </div>
        <% end %>
      <%end%>
      <div class="answers">
      <h3>Replies</h3>
        <% counts = replies.each_with_object(Hash.new(0)) { |h1, h2| h2[h1["reply"]] += 1 }%>
        <% posted = {}%>
        <%replies.each do |reply|%>
          <%if reply["post_id"] == post["id"]%>
            <% if posted[reply["reply"]]%>
              <%nil%>
              <%else%>
                <%if counts[reply["reply"]] > 1%>
                  <div class="reply">
                    <p class="reply_username"><em><%=counts[reply["reply"]]%> people replied:</em></p>
                    <div><%=reply["reply"]%></div>
                    <%posted[reply["reply"]] = true%>
                  </div>
                <%else%>
                  <div class="reply">
                    <p class="reply_username"><em><%=reply["user_name"]%> replied:</em></p>
                    <div><%=reply["reply"]%></div>
                    <%posted[reply["reply"]] = true%>
                  </div>
                <%end%>
              <%end%>
          <%end%>
        <%end%>
      </div>
    </section>
  <%end%>
</section>
